<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rig Match Me</title>
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Questrial&display=swap" rel="stylesheet" />
  <link rel="icon" href="/images/favicon.ico" />
</head>

<body>
  <div class="vw-100">
    <header class="p-0">

      {{! JUMBOTRON START }}
      <div class="bg-light">
        <div class="container-fluid d-flex justify-content-center flex-column p-0">
          <div class="d-flex justify-content-center">

            <img src="/images/bg1.png" class="vw-100 mw-100"
              alt="Spackled wall texture with vector drawings of a saxophone, drum kit, electric guitar, a pair of maracas and the Rig Match Me logo in the center" />

          </div>

        </div>
      </div>
      {{! JUMBOTRON END }}

      {{! NAVBAR START }}
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav fs-3">

              <li class="nav-item px-4">
                <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item px-4">
                <a class="nav-link active text-light" aria-current="page" href="#bg-img-2">About Us</a>
              </li>

              {{#if logged_in}}
              <li class="nav-item px-4">
                <a class="nav-link text-light" href="/new_rig" id="newRig">Build a New Rig</a>
              </li>

              <li class="nav-item px-4">
                <a class="nav-link text-light" href="/new_rig" id="newRig">View My Rigs</a>
              </li>

              <li class="nav-item px-4">
                <a class="nav-link text-light" href="/" id="logout">Log Out</a>
              </li>

              {{else}}
              <li class="nav-item px-4">
                <a class="nav-link text-light" href="/login">Log In</a>
              </li>

              <li class="nav-item px-4">
                <a class="nav-link text-light" href="/signup">Sign Up</a>
              </li>

              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
      {{! NAVBAR END}}

    </header>
    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>