<section id="bg-img-1">
  <div class="text-1">
    <span class="border">Scroll Down to Explore!</span>
  </div>
</section>

<section id="bg-img-2">
  <div class="text-2 position-absolute top-50 start-50 translate-middle border">
    <div class="d-flex flex-column flex-fill">
      <h2 class="text-center text-light home-text">About Us</h2>
      <p>&#10;</p>
      <p class="fs-5 text-center text-light home-text d-inline">Learning a new instrument can be hard, especially just
        figuring out what instrument to start with! Joseph Leano, Avni Patel and Alvin Pollard set out to simplify this
        process with "Rig Match Me". We provide a guided tour of instruments to help steer you towards getting properly
        setup for whatever genre of music you are interested in playing! As a result, we're the ONLY place on
        the web where you can customize, store and share your musical rigs! Sign
        up for FREE and get started right away!
      <p>
    </div>
  </div>
</section>

<section id="bg-img-3">
  <div class="text-2 position-absolute top-50 start-50 translate-middle border">
    <span class="col-md-8 fs-5 text-center text-light home-text">What are you
      waiting for? Get started today for free!
      <button type="button" class="btn btn-success text-light" data-bs-toggle="modal" data-bs-target="#signup">Sign
        Up!</button>
    </span>
  </div>
</section>

<section id="contact-1">
  <div class="text-2 position-absolute top-50 start-50 translate-middle border">
    <div class="d-flex flex-column flex-fill">
      <div class="container">
        <div class=="contact">
          <h1 class="text-light">Contact Us</h3>
            <form method="POST" action="send">
              <p>
                <label class="text-light">Name</label>
                <input type="text" name="name">
              </p>
              <p>
                <label class="text-light">Email Address</label>
                <input type="email" name="email">
              </p>
              <p>
                <label class="text-light">Message</label>
                <textarea name="message" rows="5"></textarea>
              </p>
              <p>
                <button type="submit">Submit</button>
              </p>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sign Up Modal -->
<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form class="signup-form">
          <div class="d-flex flex-row justify-content-between">
            <h1 class="d-inline h3 mb-3 fw-normal">Sign Up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="form-floating mb-3">
            <input type="type" class="form-control username-signup" id="username-signup"
              placeholder="Please enter a Username" />
            <label for="username-signup">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control password-signup" id="password-signup"
              placeholder="Please enter a Password (min: 8 characters)" />
            <label for="password-signup">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary mb-3 signup-form" type="submit">Sign Up</button>

          <a href="" data-bs-toggle="modal" data-bs-target="#login">Already a member? Click here to log in!</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Log In Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form class="login-form">
          <div class="d-flex flex-row justify-content-between">
            <h1 class="d-inline h3 mb-3 fw-normal">Log In</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="form-floating mb-3">
            <input type="type" class="form-control" id="username-login" placeholder="Username" />
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password-login" placeholder="Password" />
            <label for="password-login">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary mb-3 login-form" type="submit">Log In</button>

          <a href="" data-bs-toggle="modal" data-bs-target="#signup">Need an account? Click here to sign up!</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>