<section id="bg-img-1">
  <div class="text-1">
    <span class="border">Scroll Down to Explore!</span>
  </div>
</section>
<section id="bg-img-2">
  <div class="text-1 d-flex justify-content-center">
    <span class="col-md-4 fs-5 text-center border">The ONLY place on the web
      where you can customize, store and share your musical rigs! Sign up for
      FREE and get started right away!</span>
  </div>
</section>