<div>

  <h2> Create New Rig </h2>

  <form class="form new-rig-form">
    <div class="form-group">
      <label for="genre">Choose a genre:</label>
      <select id="genre" name=" genre">
        {{#each genres as |genre|}}
          <option value="{{genre.genre}}">{{genre.genre}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="new-rig-form btn btn-primary">Next</button>
    </div>
  </form>
</div>

<script src="/js/new_rig.js"></script>