<div class="d-flex justify-content-center vh-100">

  <div class="col-2 p-3 bg-dark d-flex justify-content-start flex-column mb-4">
    <div id="create-rig-list" class="d-flex flex-column">
      <p class="fs-1 text-light">
        View Your Rigs
      </p>
    </div>

  </div>
  <div
    id="create-rig-staging-area"
    class="col-sm-10 bg-light p-3 mh-100 overflow-auto"
  >
  </div>

</div>

<script src="/js/new_rig.js"></script>