body,
html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#bg-img-1 {
  /* The image used */
  background-image: url("../images/homeimage1.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: top 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-1 {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

#bg-img-2 {
  /* The image used */
  background-image: url("../images/homeimage2.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: top 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-2 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 50%;
  text-align: center;
  color: #000;
}

.home-text {
  font-family: "Questrial", sans-serif;
}

#bg-img-3 {
  /* The image used */
  background-image: url("../images/homeimage3.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: top 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item {
  font-family: "Caveat", cursive;
}

/* --------------------------- CREATE RIG PAGE SPECFIC ------------------------------ */

#create-rig-list {
  font-family: "Caveat", cursive;
}

#create-rig-list p {
  border-bottom: 2px solid currentColor;
  text-align: center;
}

#create-rig-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#chalkboard {
  background-image: url("../images/chalkboard2.jpg");
  background-size: contain;
}

#create-rig-staging-area {
  background-image: url("../images/create-rig-bg.jpg");
  background-size: cover;
  filter: saturate(2);
}

/* ----------------  CREATE NEW RIG STAGING AREA ------------------ */
.staging-card {
  max-width: 18%;
}

.card-title {
  font-family: Caveat, cursive;
}

#select-btn {
  font-family: Caveat, cursive;
}
